<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"></head>
<body>
<nav th:replace="partials/partials :: nav"></nav>
<div class="ui main container">
<h1 class="ui header">Listado de Usuarios</h1>
<table id="listadoUsuarios" class="ui celled table selectable">
	<thead>
		<tr>
			<th>Columna 1</th>
			<th>Columna 2</th>
			<th>Columna 3</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
</div>
<!-- SCRIPT -->
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/css/semantic/semantic.min.js}"></script>
<script type="text/javascript" th:src="@{/datatables/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<!-- SCRIPT -->
</body>
</html>