<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"></head>
<body>
<nav th:replace="partials/partials :: nav"></nav>
<div class="ui main container">
<h1 class="ui header">Listado de Usuarios</h1>
<hr />
<a class="ui right labeled icon button" href="/usuarios/crear/null">
  <i class="user plus icon"></i>
  Agregar Usuario
</a>
<br>
<table id="listadoUsuarios" class="ui celled table selectable">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Email</th>
			<th>Perf&iacute;l</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="usuario : ${listadoUsuarios}">
			<td th:text="${usuario.nombre}"></td>
			<td th:text="${usuario.apellido}"></td>
			<td th:text="${usuario.email}"></td>
			<td th:text="${usuario.perfil.tipo}"></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>
<!-- SCRIPT -->
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/css/semantic/semantic.min.js}"></script>
<script type="text/javascript" th:src="@{/datatables/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/pdfmake.js}"></script>
<script type="text/javascript" th:src="@{/js/fonts.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<!-- SCRIPT -->
</body>
</html>