<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"></head>
<body>
<nav th:replace="partials/partials :: nav"></nav>
<div class="ui main container">
<div class="column">
			<h2>Nuevo Producto</h2>
		</div>
		<div class="ui divider"></div>
		<div class="column">
			<form action="#" class="ui form" th:action="@{/productos/guardar}" th:object="${producto}" method="post">
				<div class="field">
					<label>Nombre</label> <input type="text" name="nombre" th:field="*{nombre}" placeholder="Nombre">
				</div>
				<div class="field">
					<label>Tipo Producto</label> 
					<select name="idTipoProducto" th:field="*{tipoProducto}">
						<option th:value="''" th:text="--SELECCIONAR--"></option>
						<option th:each="tipoProducto : ${tipoProductos}"
						 th:value="${tipoProducto.idTipoProducto}" th:text="${#strings.toUpperCase(tipoProducto.tipo)}">
						</option>
					</select>
				</div>
				<div class="field">
					<label>Descripci&oacute;n</label> <textarea type="text" name="descripcion" th:field="*{descripcion}" placeholder="Ingresar una descripci&oacute;n del producto.">
				</div>
				<button class="ui button" type="submit">AGREGAR</button>
			</form>
		</div>

</div>
<!-- SCRIPT -->
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/css/semantic/semantic.min.js}"></script>
<script type="text/javascript" th:src="@{/datatables/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/pdfmake.js}"></script>
<script type="text/javascript" th:src="@{/js/fonts.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<!-- SCRIPT -->
</body>
</html>