<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"></head>
<body>
<nav th:replace="partials/partials :: nav"></nav>
<div class="ui main container">
<h1 class="ui header">Listado de Productos</h1>
<table id="listadoProductos" class="ui celled table selectable">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Descripci&oacute;n</th>
			<th>Tipo</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="producto : ${listadoProductos}">
			<td th:text="${producto.idProducto}"></td>
			<td th:text="${producto.nombre}"></td>
			<td th:text="${producto.descripcion}"></td>
			<td th:text="${producto.tipoProducto.tipo}"></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>
<!-- SCRIPT -->
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/css/semantic/semantic.min.js}"></script>
<script type="text/javascript" th:src="@{/datatables/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/pdfmake.js}"></script>
<script type="text/javascript" th:src="@{/js/fonts.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<!-- SCRIPT -->
</body>
</html>