<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="utf-8" />
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<title>Feria Virtual :: Maipo Grande</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/semantic/semantic.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
</head>
<body>
<nav class="ui teal fixed inverted menu" th:fragment="nav">
  <a class="active item" th:href="@{/home}">Maipo Grande</a>
  <div class="ui dropdown item">
     Ventas <i class="dropdown icon"></i>
     <div class="menu">
       <a class="item" th:href="@{/ventas}">Ventas</a>
       <a class="item" th:href="@{/ventas/agregar}">Agregar Ventas</a>
     </div>
   </div>
   <div class="ui dropdown item">
     Productos <i class="dropdown icon"></i>
     <div class="menu">
       <a class="item" th:href="@{/productos}">Producto</a>
       <a class="item" th:href="@{/productos/agregar}">Agregar Producto</a>
     </div>
   </div>

		<div class="right menu">
			<div class="ui dropdown item">
				Admin <i class="dropdown icon"></i>
				<div class="menu">
					<a class="item">Salir <i class="sign out alternate icon"></i></a>
				</div>
			</div>
		</div>
	</nav>
</body>
</html>