<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="utf-8" />
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<title>Feria Virtual :: Maipo Grande</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/semantic/semantic.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
</head>
<body>
<nav class="ui fixed inverted menu" th:fragment="nav">
  <a class="active item" th:href="@{/home}">Maipo Grande</a>
  <a class="item" th:href="@{/ventas}">Ventas</a>
</nav>
</body>
</html>