<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:fragment="head">
	<meta charset="utf-8" />
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<title>Feria Virtual :: Maipo Grande</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/semantic/semantic.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/datatables/datatables.min.css}">
</head>
<body>
<nav class="ui teal fixed inverted menu" th:fragment="nav">
  <a class="active item" th:href="@{/home}">Maipo Grande</a>
  <div class="ui dropdown item" th:each="menu : ${session.menu}">
     <span th:text="${menu.getTitle()}"></span> <i class="dropdown icon"></i>
     <div class="menu">
	     <th:block th:each="submenu : ${menu.getMenus()}"]>
	       	<a class="item" th:href="${submenu.getLink()}" th:text="${submenu.getTexto()}"></a> 
	      </th:block> 
     </div>
   </div>
		<div class="right menu">
			<div class="ui dropdown item">
				<span th:text="${session.nombre}"></span> <i class="dropdown icon"></i>
				<div class="menu">
					<a class="item" th:href="@{/salir}">Salir <i class="sign out alternate icon"></i></a>
				</div>
			</div>
		</div>
	</nav>
</body>
</html>