<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"></head>
<body>
<nav th:replace="partials/partials :: nav"></nav>
<div class="ui main container">
<div class="column">
			<h2>Agregar Subasta</h2>
			<p>Lista de ventas disponibles para subastar</p>
		</div>
		<div class="ui divider"></div>
		<div class="column" th:if="${!listaVentasActivas.isEmpty()}">
				<table id="listadoVentasActivas" class="ui selectable table">
					<thead>
						<tr>
							<td>#</td>
							<td>CLIENTE</td>
							<td>FECHA</td>
							<td>CANTIDAD (kg)</td>
							<td>VENTA SUBASTADA</td>
							<td>ACCIONES</td>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="ventaActiva : ${listaVentasActivas}">
							<tr th:style="'background-color:'+${ventaActiva.color}">
								<td th:text="${ventaActiva.venta.getIdVenta()}"></td>
								<td th:text="${ventaActiva.venta.usuario.nombre}+' '+${ventaActiva.venta.usuario.apellido}"></td>
								<td th:text="${ventaActiva.venta.getFecha()}"></td>
								<td th:text="${ventaActiva.cantidad}"></td>
								<td th:text="${ventaActiva.ventaSubastada}"></td>
								<td>
									<a th:href="@{/subastas/formularioAgregar/}+''+${ventaActiva.idOferta}+'/'+${ventaActiva.cantidad}"><i class="edit icon"></i></a> Subastar
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
		</div>
</div>
<!-- SCRIPT -->
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/css/semantic/semantic.min.js}"></script>
<script type="text/javascript" th:src="@{/datatables/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/pdfmake.js}"></script>
<script type="text/javascript" th:src="@{/js/fonts.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<!-- SCRIPT -->
</body>
</html>