<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"></head>
<body>
<nav th:replace="partials/partials :: nav"></nav>
<div class="ui main container">
<div class="column">
			<h2>Mis Subastas</h2>
		</div>
		<div class="ui divider"></div>
		<div class="column">
				<table id="listaMisSubastas" class="ui selectable table">
					<thead>
						<tr>
							<td>#</td>
							<td>Oferta</td>
							<td>FECHA</td>
							<td>CERTIFICADO</td>
							<td>REFRIGERADO</td>
							<td>CAPACIDAD (kg)</td>
							<td>TRANSPORTE</td>
							<td>PRECIO ($)</td>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="miSubasta : ${misSubastas}">
							<tr>
								<td th:text="${miSubasta.idSubasta}"></td>
								<td th:text="${miSubasta.oferta.idOferta}"></td>
								<td th:text="${miSubasta.fechaInicio}"></td>
								<td th:if="${miSubasta.isCertificado == '1'}">S&iacute;</td>
								<td th:if="${miSubasta.isCertificado == '0'}">No</td>
								<td th:if="${miSubasta.isRefrigerado == '1'}">S&iacute;</td>
								<td th:if="${miSubasta.isRefrigerado == '0'}">No</td>
								<td th:text="${miSubasta.capacidadCarga}"></td>
								<td th:text="${miSubasta.tipoTransporte.nombre}"></td>
								<td th:text="${miSubasta.precio}"></td>
							</tr>
						</th:block>
					</tbody>
				</table>
		</div>
</div>
<!-- SCRIPT -->
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/css/semantic/semantic.min.js}"></script>
<script type="text/javascript" th:src="@{/datatables/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/pdfmake.js}"></script>
<script type="text/javascript" th:src="@{/js/fonts.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<!-- SCRIPT -->
</body>
</html>