<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"></head>
<body>
<nav th:replace="partials/partials :: nav"></nav>
<div class="ui main container">
	<div class="column">
		<h1>Reportes</h1>
		<div class="ui divider"></div>
	</div>
	<div class="ui large statistics">
	  <div class="statistic">
	    <div class="value">
	      <img th:src="@{/img/user.jpg}" class="ui circular inline image">
	      <span th:text="${usuarios}"></span>
	    </div>
	    <div class="label">
	      Usuarios
	    </div>
	  </div>
	  <div class="statistic">
	    <div class="value">
	      <i class="dollar sign icon"></i>
	      <span th:text="${ventas}"></span>
	    </div>
	    <div class="label">
	      Cantidad Ventas
	    </div>
	  </div>
	  <div class="statistic">
	    <div class="value">
	      <i class="bullhorn icon"></i>
	      <span th:text="${subastas}"></span>
	    </div>
	    <div class="label">
	      Cantidad Subastas Activas
	    </div>
	  </div>
	</div>
</div>

<!-- SCRIPT -->
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/css/semantic/semantic.min.js}"></script>
<script type="text/javascript" th:src="@{/datatables/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/pdfmake.js}"></script>
<script type="text/javascript" th:src="@{/js/fonts.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<script type="text/javascript" th:src="@{/js/raphael.js}"></script>
<script type="text/javascript" th:src="@{/js/morris.js}"></script>
<!-- SCRIPT -->
</body>
</html>