<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"></head>
<body>
<nav th:replace="partials/partials :: nav"></nav>
<div class="ui main container">
	<div class="column">
		<h1>Reportes</h1>
		<div class="ui divider"></div>
	</div>
	<div class="ui grid">
	  <div class="eight wide column">
	  	<h4 class="ui center aligned header">Reporte 1</h4>
	  	<div id="grafico1" style="height: 250px;"></div>
	  </div>
	  <div class="eight wide column">
	  	<h4 class="ui center aligned header">Reporte Totales Generales</h4>
	  	<div id="grafico2" style="height: 250px;"></div>
	  </div>
	</div>
	<div class="ui grid">
	  <div class="eight wide column">
	  	<h4 class="ui center aligned header">Reporte 3</h4>
	  	<div id="grafico3" style="height: 250px;"></div>
	  </div>
	  <div class="eight wide column" id="grafico2" style="height: 250px;"></div>
	</div>
</div>
<!-- SCRIPT -->
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/css/semantic/semantic.min.js}"></script>
<script type="text/javascript" th:src="@{/datatables/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/pdfmake.js}"></script>
<script type="text/javascript" th:src="@{/js/fonts.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<script type="text/javascript" th:src="@{/js/raphael.js}"></script>
<script type="text/javascript" th:src="@{/js/morris.js}"></script>
<!-- SCRIPT -->

<script th:inline="javascript">
/*<![CDATA[*/
new Morris.Line({
	  // ID of the element in which to draw the chart.
	  element: 'grafico1',
	  // Chart data records -- each entry in this array corresponds to a point on
	  // the chart.
	  data: [
	    { year: '2008', value: 20 },
	    { year: '2009', value: 10 },
	    { year: '2010', value: 5 },
	    { year: '2011', value: 5 },
	    { year: '2012', value: 20 }
	  ],
	  // The name of the data record attribute that contains x-values.
	  xkey: 'year',
	  // A list of names of data record attributes that contain y-values.
	  ykeys: ['value'],
	  // Labels for the ykeys -- will be displayed when you hover over the
	  // chart.
	  labels: ['Value']
	});
	
Morris.Donut({
	  element: 'grafico2',
	  data: [
	    {label: "Usuarios", value: [[${usuarios}]]},
	    {label: "Ventas", value: [[${ventas}]]},
	    {label: "Subastas", value: [[${subastas}]]},
	    {label: "Productos", value: [[${productos}]]}
	  ]
	});

Morris.Bar({
	  element: 'grafico3',
	  data: [
	    { y: '2006', a: 100, b: 90 },
	    { y: '2007', a: 75,  b: 65 },
	    { y: '2008', a: 50,  b: 40 },
	    { y: '2009', a: 75,  b: 65 },
	    { y: '2010', a: 50,  b: 40 },
	    { y: '2011', a: 75,  b: 65 },
	    { y: '2012', a: 100, b: 90 }
	  ],
	  xkey: 'y',
	  ykeys: ['a', 'b'],
	  labels: ['Series A', 'Series B']
	});
/*]]>*/
</script>
</body>
</html>