<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"></head>
<body>
<nav th:replace="partials/partials :: nav"></nav>
<div class="ui main container">
<div class="column">
			<h2>Nueva Venta</h2>
		</div>
		<div class="ui divider"></div>
		<div class="column">
		<button id="agregarProducto" class="ui button">Agregar Producto</button>
			<form class="ui form" th:action="@{/ventas/ingresar}" th:object="${detalles}" method="post">
				<table class="ui selectable table" id="tablaProductos" index="1">
				<th:block th:each="detalle, stat : *{detalleVenta}">
					<tr class="detalle" th:detalle="${stat.index}" style="display: none">
						<td>
						<label>Ingrese Producto</label> 
							<select th:field="*{detalleVenta[__${stat.index}__].producto}">
								<option th:value="''" th:text="--SELECCIONAR--"></option>
								<option th:each="producto : ${productos}"
								  th:value="${producto.idProducto}" th:text="${#strings.toUpperCase(producto.nombre)}">
								</option>
							</select>
						</td>
						<td>
						<label>Cantidad (kg)</label>
						<input type="number" th:field="*{detalleVenta[__${stat.index}__].cantidad}" min="10" required="required">
						</td>
					</tr>
				</th:block>
				</table>
				
				<button class="ui button" type="submit">Ingresar Solicitud</button>
			</form>
		</div>

</div>
<!-- SCRIPT -->
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/css/semantic/semantic.min.js}"></script>
<script type="text/javascript" th:src="@{/datatables/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/pdfmake.js}"></script>
<script type="text/javascript" th:src="@{/js/fonts.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<!-- SCRIPT -->
</body>
</html>