<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"></head>
<body>
<nav th:replace="partials/partials :: nav"></nav>
<div class="ui main container">
<div class="column">
			<h2>Nueva Venta</h2>
		</div>
		<div class="ui divider"></div>
		<div class="column">
			<form action="#" class="ui form" th:action="@{/ventas/guardar}" th:object="${venta}" method="post">
				<div class="field">
					<label>Cliente</label> 
					<select name="usuario" th:field="*{usuario}" required="required">
						<option th:value="''" th:text="--SELECCIONAR--"></option>
						<option th:each="usuario : ${usuarios}"
						 th:value="${usuario.idUsuario}" th:text="${#strings.toUpperCase(usuario.nombre)}">
						</option>
					</select>
				</div>
				<div class="field">
					<label>Tipo Venta</label> 
					<select name="tipoVenta" th:field="*{tipoVenta}" required="required">
						<option th:value="''" th:text="--SELECCIONAR--"></option>
						<option th:each="tipoVenta : ${tipoVentas}"
						 th:value="${tipoVenta.idTipoVenta}" th:text="${#strings.toUpperCase(tipoVenta.tipo)}">
						</option>
					</select>
				</div>
				<!-- <div class="equal width fields" th:object="${detalleVenta}">
					<div class="field">
				      <label>Producto</label>
				      <select name="" required="required">
						<option th:value="''" th:text="--SELECCIONAR--"></option>
						<option th:each="producto : ${productos}"
						 th:value="${producto.idProducto}" th:text="${#strings.toUpperCase(producto.nombre)}">
						</option>
					</select>
				    </div>
				    <div class="field">
				      <label>Cantidad</label>
				      <input type="number" name="cantidad" min="1" max="50" required>
				    </div>
				</div> -->
				<input type="hidden" th:field="*{idVenta}" name="id">
				<button class="ui button" type="submit">AGREGAR</button>
			</form>
		</div>

</div>
<!-- SCRIPT -->
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/css/semantic/semantic.min.js}"></script>
<script type="text/javascript" th:src="@{/datatables/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/pdfmake.js}"></script>
<script type="text/javascript" th:src="@{/js/fonts.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<!-- SCRIPT -->
</body>
</html>