<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"></head>
<body>
	<nav th:replace="partials/partials :: nav"></nav>
	<div class="ui main container">
		<div class="column">
			<a href="/ventas/detallar" class="ui labeled icon button"><i class="plus icon"></i> Agregar Venta</a>
		</div>
		<div class="ui divider"></div>
		<div class="column">
			<div class="column" th:if="${ventasConEstado.isEmpty()}">
				<div class="ui icon message">
					<i class="frown outline icon"></i>
					<div class="content">
						<div class="header">Lo sentimos, a&uacute;n no hay registros...</div>
					</div>
				</div>
			</div>
			<div class="column" th:if="${!ventasConEstado.isEmpty()}">
				<table id="listadoVentas" class="ui selectable table">
					<thead>
						<tr>
							<td>#</td>
							<td>CLIENTE</td>
							<td>TIPO VENTA</td>
							<td>FECHA VENTA</td>
							<td>ESTADO</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="venta : ${ventasConEstado}">
							<td th:text="${venta.venta.idVenta}"></td>
							<td th:text="${venta.venta.usuario.nombre}+' '+ ${venta.venta.usuario.apellido}"></td>
							<td th:text="${venta.venta.tipoVenta.tipo}"></td>
							<td th:text="${#dates.format(venta.venta.fecha, 'dd-MM-YYYY')}"></td>
							<td th:if="${venta.isRecepcionado}">
								<form action="/ventas/finalizar" method="post">
									<input type="hidden" th:value="${venta.venta.idVenta}" name="idVenta" id="idVenta">
									<button title="Presione para finalizar la venta" class="ui button" type="submit">Recepcionar</button>
								</form>
							</td>
							<td th:unless="${venta.isRecepcionado}" th:text="${venta.estado}">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="ui basic mini modal modalEstilos" th:if="${mensaje != null}">
				<p th:text="${mensaje}"></p>
			</div>
		</div>
	</div>
	<!-- SCRIPT -->
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript"
		th:src="@{/css/semantic/semantic.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/datatables/datatables.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/pdfmake.js}"></script>
	<script type="text/javascript" th:src="@{/js/fonts.js}"></script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
	<!-- SCRIPT -->
</body>
</html>