<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"></head>
<body>
<nav th:replace="partials/partials :: nav"></nav>
<div class="ui main container">
<div class="column">
			<h2>Ingreso de Oferta</h2>
		</div>
		<div class="ui divider"></div>
		<div class="column">
			<form class="ui form" th:action="@{/ofertas/ingresar}" th:object="${ed}" method="post">
			<table class="ui selectable table">
				<tr>
					<td>
						<div class="field">
							<label>ID Venta</label>
							<input type="text" readonly th:value="${idVenta}">
						</div>
					</td>
					<td>
						<div class="field">
							<label>ID Usuario</label>
							<input type="text" readonly th:value="${session.usuario.getIdUsuario()}">
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="field">
							<label>¿Est&aacute;? certificado?</label>
							<input type="radio" name="isCertificado" value="1"> S&iacute;
							<input type="radio" name="isCertificado" value="0" required checked="checked"> No		
						</div>
					</td>
					<td>
						<div class="field">
							<label>¿Est&aacute;? envasado?</label>
							<input type="radio" name="isEnvasado" value="1"> S&iacute;
							<input type="radio" name="isEnvasado" value="0" required checked="checked"> No		
						</div>
					</td>
				</tr>
			</table>
			<table>
				<th:block th:each="detalle : ${detallesOferta}"></th:block>
				<tr>
					<td th:text="${detalle}"></td>
				</tr>
			</table>
			<table id="tablaOfertar" class="ui selectable table">
				<tr>
					<td>PRODUCTO</td>
					<td>CANTIDAD (kg)</td>
					<td>PRECIO x Kilo ($)</td>
				</tr>
				<th:block th:each="detalle, stat : *{detalles}">
					<tr>
						<input type="hidden" th:field="*{detalles[__${stat.index}__].producto}" value="*{detalles[__${stat.index}__].producto}" >
						<td th:text="*{detalles[__${stat.index}__].producto.nombre}"></td>
						<td><input required="required" type="number" th:field="*{detalles[__${stat.index}__].cantidad}" value="" th:min="${detallesVenta[__${stat.index}__].getCantidad()*1.1}"></td>
						<td><input required="required" type="number" th:field="*{detalles[__${stat.index}__].precio}" value="" min="1"></td>
					</tr>
				</th:block>
			</table>
				<button class="ui button" type="submit">AGREGAR</button>
			</form>
		</div>

		
</div>
<!-- SCRIPT -->
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/css/semantic/semantic.min.js}"></script>
<script type="text/javascript" th:src="@{/datatables/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/pdfmake.js}"></script>
<script type="text/javascript" th:src="@{/js/fonts.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<!-- SCRIPT -->
</body>
</html>