<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"></head>
<body>
<nav th:replace="partials/partials :: nav"></nav>
<div class="ui main container">
<div class="column">
		<h1>HOME</h1>
		<div class="ui divider"></div>
	</div>
	<div class="column">
                <div class="ui fluid ordered steps">
                    <div class="completed step">
                        <div class="content">
                            <div class="title">CLIENTE</div>
                            <div class="description">El cliente es nuestro fin.</div>
                        </div>
                    </div>
                    <div class="completed step">
                        <div class="content">
                            <div class="title">Satisfacci&oacute;n</div>
                            <div class="description">Nuestro lema.</div>
                        </div>
                    </div>
                    <div class="active step">
                        <i class="smile outline icon"></i>
                        <div class="content">
                            <div class="title">Fidelizaci&oacute;n</div>
                            <div class="description">Nuestra mejora continua.</div>
                        </div>
                    </div>
				</div>
	</div>
	<br>
	<div class="column">
		<h3>Información del contrato</h3>
		<table class="ui selectable table">
			<thead>
				<tr>
					<td>ID del contrato</td>
					<td>Nombre y Apellido</td>
					<td>Tipo Cuenta</td>
					<td>Fecha Inicio</td>
					<td>Fecha Término</td>
					<td>Email</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${session.contrato.idContrato}"></td>
					<td th:text="${session.contrato.usuario.nombre}+' '+${session.usuario.apellido}"></td>
					<td th:text="${session.contrato.usuario.perfil.tipo}"></td>
					<td th:text="${session.contrato.fechaInicio}"></td>
					<td th:text="${session.contrato.fechaTermino}"></td>
					<td th:text="${session.contrato.usuario.email}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- <div th:if="${valores!= null && !valores.isEmpty()}" class="column" id="grafico">
		<th:block th:each="valor: ${valores}">
			<span id="valoresGrafico" style="display: none" th:text="${valor.valores}"></span>
		</th:block>
	</div> -->
</div>
<!-- SCRIPT -->
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/css/semantic/semantic.min.js}"></script>
<script type="text/javascript" th:src="@{/datatables/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/pdfmake.js}"></script>
<script type="text/javascript" th:src="@{/js/fonts.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<!-- SCRIPT -->
</body>
</html>